/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background: linear-gradient(
        90deg,
        var(--ifm-color-primary-lightest) 0%,
        var(--ifm-color-primary-lighter) 25%,
        var(--ifm-color-primary) 50%,
        var(--ifm-color-primary-darker) 75%,
        var(--ifm-color-primary-darkest) 100%
    );
}

.mainSectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    width: 100%;
}

.cardWrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 1rem 0 2rem 0; */
    display: flex;
}

.card {
    width: 100%;
    flex-grow: 1;
}

.main {
    padding: 2rem 0;
}

.mainAvatar {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}
