.wrapper {
    margin: auto;
}

.demoCaption {
    text-align: center;
    color: #666;
}
.demoExplanation {
    font-size: 0.8em;
}
.sliderWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    margin: 1.25rem 0;
}
